@tailwind base;
@tailwind components;
@tailwind utilities;


body {
background: #f7f7f7;
font-family: system-ui, sans-serif;
  background-image: url('./public/fondo.png');
  background-size: cover;           /* La imagen cubre toda la pantalla */
  background-position: center;      /* Centrada */
  background-repeat: no-repeat;     /* No se repite */
  background-attachment: fixed;     /* Se queda quieta mientras scrolleas */
}
